My Web Tests/WebServiceSOAPHeaders/WebServiceClient/Web References/WebService1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Password" type="tns:Password" />
      <s:complexType name="Password" mixed="true">
        <s:anyAttribute />
      </s:complexType>
      <s:element name="UserName" type="tns:UserName" />
      <s:complexType name="UserName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="tns:ArrayOfString" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAmanahResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CerResultID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CertificateCard_ID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CertificateExpire_Date" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientResponseStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Remarks" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAmanahResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="ResultMessage" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldPassword">
    <wsdl:part name="Password" element="tns:Password" />
  </wsdl:message>
  <wsdl:message name="HelloWorldUserName">
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="AddAmanahResponseSoapIn">
    <wsdl:part name="parameters" element="tns:AddAmanahResponse" />
  </wsdl:message>
  <wsdl:message name="AddAmanahResponseSoapOut">
    <wsdl:part name="parameters" element="tns:AddAmanahResponseResponse" />
  </wsdl:message>
  <wsdl:message name="AddAmanahResponsePassword">
    <wsdl:part name="Password" element="tns:Password" />
  </wsdl:message>
  <wsdl:message name="AddAmanahResponseUserName">
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAmanahResponse">
      <wsdl:input message="tns:AddAmanahResponseSoapIn" />
      <wsdl:output message="tns:AddAmanahResponseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWorldPassword" part="Password" use="literal" />
        <soap:header message="tns:HelloWorldUserName" part="UserName" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmanahResponse">
      <soap:operation soapAction="http://tempuri.org/AddAmanahResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddAmanahResponsePassword" part="Password" use="literal" />
        <soap:header message="tns:AddAmanahResponseUserName" part="UserName" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWorldPassword" part="Password" use="literal" />
        <soap12:header message="tns:HelloWorldUserName" part="UserName" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmanahResponse">
      <soap12:operation soapAction="http://tempuri.org/AddAmanahResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddAmanahResponsePassword" part="Password" use="literal" />
        <soap12:header message="tns:AddAmanahResponseUserName" part="UserName" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:38974/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:38974/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>