My Web Tests/CallWcfTest/CallWcfTest/Service References/DocFlowWCF/DocFlow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocFlow" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDocFlow_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" />
      <xsd:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocFlow_SearchAllDocs_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAllDocs" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_SearchAllDocs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAllDocsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_AssignDocToEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignDocToEmployee" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_AssignDocToEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignDocToEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetOrganizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizations" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetOrganizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetConfirmationUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfirmationUsers" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetConfirmationUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfirmationUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetDocInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocInfo" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_GetDocInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_LoadLetterTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLetterTemplates" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_LoadLetterTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLetterTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_SaveLetterTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLetterTemplate" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_SaveLetterTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLetterTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_LoadLetterTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLetterTemplate" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_LoadLetterTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLetterTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_AddDocumentTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDocumentTransfer" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_AddDocumentTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDocumentTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_SubmitTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTransfer" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_SubmitTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_SearchFollowDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFollowDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocFlow_SearchFollowDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFollowDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocFlow">
    <wsdl:operation name="SearchAllDocs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/SearchAllDocs" message="tns:IDocFlow_SearchAllDocs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/SearchAllDocsResponse" message="tns:IDocFlow_SearchAllDocs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignDocToEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/AssignDocToEmployee" message="tns:IDocFlow_AssignDocToEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/AssignDocToEmployeeResponse" message="tns:IDocFlow_AssignDocToEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/GetDepartments" message="tns:IDocFlow_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/GetDepartmentsResponse" message="tns:IDocFlow_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizations">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/GetOrganizations" message="tns:IDocFlow_GetOrganizations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/GetOrganizationsResponse" message="tns:IDocFlow_GetOrganizations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfirmationUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/GetConfirmationUsers" message="tns:IDocFlow_GetConfirmationUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/GetConfirmationUsersResponse" message="tns:IDocFlow_GetConfirmationUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/GetDocInfo" message="tns:IDocFlow_GetDocInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/GetDocInfoResponse" message="tns:IDocFlow_GetDocInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadLetterTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/LoadLetterTemplates" message="tns:IDocFlow_LoadLetterTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/LoadLetterTemplatesResponse" message="tns:IDocFlow_LoadLetterTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLetterTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/SaveLetterTemplate" message="tns:IDocFlow_SaveLetterTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/SaveLetterTemplateResponse" message="tns:IDocFlow_SaveLetterTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadLetterTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/LoadLetterTemplate" message="tns:IDocFlow_LoadLetterTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/LoadLetterTemplateResponse" message="tns:IDocFlow_LoadLetterTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/AddDocumentTransfer" message="tns:IDocFlow_AddDocumentTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/AddDocumentTransferResponse" message="tns:IDocFlow_AddDocumentTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/SubmitTransfer" message="tns:IDocFlow_SubmitTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/SubmitTransferResponse" message="tns:IDocFlow_SubmitTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFollowDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocFlow/SearchFollowDocuments" message="tns:IDocFlow_SearchFollowDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocFlow/SearchFollowDocumentsResponse" message="tns:IDocFlow_SearchFollowDocuments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDocFlow" type="tns:IDocFlow">
    <wsp:PolicyReference URI="#WSHttpBinding_IDocFlow_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchAllDocs">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/SearchAllDocs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignDocToEmployee">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/AssignDocToEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizations">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/GetOrganizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfirmationUsers">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/GetConfirmationUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocInfo">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/GetDocInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadLetterTemplates">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/LoadLetterTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLetterTemplate">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/SaveLetterTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadLetterTemplate">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/LoadLetterTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentTransfer">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/AddDocumentTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTransfer">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/SubmitTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFollowDocuments">
      <soap12:operation soapAction="http://tempuri.org/IDocFlow/SearchFollowDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocFlow">
    <wsdl:port name="WSHttpBinding_IDocFlow" binding="tns:WSHttpBinding_IDocFlow">
      <soap12:address location="http://localhost:8020/DocFlow/DocFlow.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8020/DocFlow/DocFlow.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>