My Web Tests/CallWcfTest/CallWcfTest/Service References/DocFlowWCF/DocFlow1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" />
  <xs:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:8020/DocFlow/DocFlow.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model" />
  <xs:element name="SearchAllDocs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="_prms" nillable="true" type="q1:DocSearchParameters" />
        <xs:element minOccurs="0" name="_pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAllDocsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchAllDocsResult" nillable="true" type="q2:TupleOfArrayOfDocFlowInfointLKwzPzfI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignDocToEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ftyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignDocToEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignDocToEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q3:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="GetOrganizationsResult" nillable="true" type="q4:ArrayOfOrganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmationUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_dirCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmationUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="GetConfirmationUsersResult" nillable="true" type="q5:ArrayOfEmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docNo" type="xs:int" />
        <xs:element minOccurs="0" name="docYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="GetDocInfoResult" nillable="true" type="q6:DocFlowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLetterTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLetterTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="LoadLetterTemplatesResult" nillable="true" type="q7:ArrayOfLetterTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLetterTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="_letterTemplate" nillable="true" type="q8:LetterTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLetterTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model" minOccurs="0" name="SaveLetterTemplateResult" nillable="true" type="q9:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLetterTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_templateCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLetterTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="LoadLetterTemplateResult" nillable="true" type="q10:LetterTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="_doc" nillable="true" type="q11:DocFlowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model" minOccurs="0" name="AddDocumentTransferResult" nillable="true" type="q12:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_referenceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_transferNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model" minOccurs="0" name="SubmitTransferResult" nillable="true" type="q13:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFollowDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="_prms" nillable="true" type="q14:DocSearchParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFollowDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Riyadh.EServices.Model.DocFlow" minOccurs="0" name="SearchFollowDocumentsResult" nillable="true" type="q15:ArrayOfDocFlowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>